# Ignore the vision and strategy documents for the time being
docs-internal/local-only
docs-internal/temp
node_modules

coverage
.dist
.nue
dist
_test
test_dir
performance.js

.DS_Store
.idea
.vscode
.env
