/*---------------------------------------------------------------------------
Contents.....: Blog area styles.
Created......: June 24, 2026, Tor Langlo
Last modified: July 16, 2026, Tor Langlo
Notes........: Refactored from original Nue CSS using ASCS 0.3.7.
---------------------------------------------------------------------------*/

/** Layouts Layer: positions and arranges blog area elements. */
@layer layouts {
  header > time {
    margin-bottom: 1em;
    display: inline-block;
  }

  /** @category Component "Blog Entries" (List of blog entries with link and description) */
  [data-component="blog-entries"] {
    margin-block: 2em 0;
    margin-inline: 0;
    padding: 0;

    > li {
      padding: 0;

      > a {
        display: flex;
        gap: 1em;
        padding-block: .125em;

        > * { flex: 1 }
        > :last-child { flex: 3 }
      }
    }
  }

  /** @category Component "Author" (Displays author information) */
  [data-component="author"] {
    margin-top: 1em;
    gap: 1em;

    img { margin-bottom: -.25em }
    h3 { margin: 0 }
  }
}

/** Paint Layer: defines the visual identity of blog area elements. */
@layer paint {
  header > time { font-size: .875em }

  /** @category Component "Blog Entries" (List of blog entries with link and description) */
  [data-component="blog-entries"] {
    list-style: none;

    a { text-decoration: none }
  }

  /** @category Component "Author" (Displays author information) */
  [data-component="author"] {
    font-size: .875em;

    img { border-radius: var(--radius-md) }
  }
}
