/*---------------------------------------------------------------------------
Contents.....: Global reset and element defaults.
Created......: July 10, 2026, Tor Langlo
Last modified: July 16, 2026, Tor Langlo
Notes........: Refactored from original Nue CSS using ASCS 0.3.7.
---------------------------------------------------------------------------*/

/**
 * Reset Layer: makes browsers behave consistently by stripping/neutralizing defaults which vary or
 * get in the way of predictable layout. Keep it low-opinion. “The clean sheet.”
 */
@layer reset {
  /* We're using two rules to reset the box-sizing property (it's called the "inherit-pattern")
     because applying 'border-box' directly to * prevents inheritance. By using 'inherit' here,
     we can later set a specific parent to 'content-box' and ensure all its children inherit that
     setting. */
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /* Cautious reset of ALL MARGINS on a subset of elements to ensure predictable spacing. */
  :where(body, menu) {
    margin: 0;
  }
}

/**
 * Defaults Layer: contains default, un-opinionated styling for all types of elements. Some
 * elements require additional styling in other layers. With well-defined defaults, “naked” HTML
 * should look clean and accessible. These are the styles we want to declare before more
 * specific styles are applied in lower layers, e.g. as nested in a component or layout.
 */
@layer defaults {

  ::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
  }

  ::placeholder {
     color: var(--input-placeholder-text-color);
  }

  :focus-visible {
    outline-color: var(--default-bg-color);
    outline-offset: 4px;
    outline-width: 1px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  figure {
    margin: 1.5em 0;

    &.bordered img { border: 1px solid var(--content-border-color) }
  }

  /* This likely prevents unwanted space below images that are the only child of a link. One use is
     `blog/standards-first-react-alternative/index.md`, though visual inspection shows no change
     without it as of 2026-07-11. */
  a:has(img:only-child) { font-size: 0 }

  h1, h2, h3, p, li, pre { max-width: var(--text-line-max-width) }

  strong {
    color: var(--text-color-strong);
    font-weight: 600;
  }

  p, li, td {
    text-wrap: pretty;

    /* Code fragment inside paragraphs, table cells, and list items. */
    code {
      background-color: var(--code-bg-color);
      font-family: var(--font-family-mono);
      padding: .125em .25em;
      font-size: .875em;
    }
  }

  h1, h2, h3, h4 {
    margin-block: .5em;
    line-height: 1.25;
    color: var(--text-color-strong);
    text-wrap: balance;

    strong {
      font-weight: inherit;
      color: var(--brand-color);
    }

    + p { margin-top: 0 }
  }

  h1 {
    margin-block: 0 .25em;
    font-size: 1.75em;
    font-weight: 650;
    letter-spacing: -.01em;

    + p {
      font-weight: 450;
      color: var(--text-color-strong);
    }
  }

  h2 {
    font-size: 1.25em;
    font-weight: 550;
  }

  h3 {
    margin-bottom: .75em;
    font-weight: 600;
    font-size: 1em;
  }

  ol, ul, table { margin-block: 1.5em }
  ol, ul { padding-left: 1em }

  li {
    padding-left: .25em;

    p:only-child { margin-block: .5em }
  }

  hr {
    border: solid var(--separator-border-color);
    margin-block: 1.5em;
    border-width: .5px 0 0;
  }

  blockquote {
    border-left: .25em solid var(--brand-color);
    padding-left: 1em;
    margin: 2em 0;

    p { color: var(--text-color-strong) }
  }

  small, figcaption {
    color: var(--text-color-subtle);
    font-weight: 400;
    font-size: .875em;
  }

  time { white-space: nowrap }

  a {
    text-decoration-color: var(--brand-color);
    text-underline-offset: .25em;
    color: inherit;
    cursor: pointer;

    &:hover {
      text-decoration-color: var(--brand-color);
      text-decoration-thickness: 2px;
      color: var(--text-color-strong);
    }

    &:visited { opacity: .5 }
  }

  nav {
    line-height: 1.25;

    /* Typically a menu item (e.g. in page header, on docs home page). */
    a {
      color: var(--default-text-color);
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;

      &:hover { color: var(--text-color-strong) }
    }
  }

  table {
    width: 100%;
    font-size: var(--ui-font-size);
    border-collapse: collapse;

    tr { vertical-align: baseline }
    th { color: var(--text-color-strong) }

    th, td {
      padding: .5em 0;
      border-bottom: 1px solid var(--content-border-color);
      text-align: left;

      &:not(:first-child) { padding-left: 2em }
    }

    td:first-child {
      width: 25%;
      white-space: nowrap;
    }

    tfoot td {
      color: var(--text-color-strong);
      font-weight: 500;
      border: 0;
    }
  }

  form {
    max-width: 45em;
    margin-block: 2em;
  }

  input, textarea {
    width: 100%;
    margin: 0;
    padding: .75em;
    background-color: var(--control-bg-color);
    border: none;
    color: var(--default-text-color);
    font-family: inherit;
    font-size: inherit;
  }

  dialog {
    margin-top: 10em;
    padding: 1.5em;
    max-width: 100%;
    width: 25em;

    > :first-child { margin: 0 }

    &::backdrop {
      background-color: rgba(0, 0, 0, 50%);
      backdrop-filter: blur(5px);
    }
  }
}
