@layer design {
  h1, h2, h3, h4 {
    color: var(--text-strong);
    margin-block: .5em;
    text-wrap: balance;
    line-height: 1.25;

    strong {
      font-weight: inherit;
      color: var(--brand);
    }

    + p { margin-top: 0 }
  }

  h1 {
    font-size: 1.75em;
    margin-block: 0 .25em;
    font-weight: 650;
    letter-spacing: -.01em;

    + p {
      color: var(--text-strong);
      font-weight: 450;
    }
  }

  h2 {
    font-weight: 550;
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
    margin-bottom: .75em;
    font-weight: 600;
  }

  h1, h2, h3, p, li, pre { max-width: var(--max-line-width) }

  ol, ul, table { margin-block: 1.5em }

  strong {
    color: var(--text-strong);
    font-weight: 600;
  }

  p, li, td {
    text-wrap: pretty;

    code {
      background-color: var(--gray-subtle);
      font-family: var(--monospace);
      padding: .125em .25em;
      font-size: .875em;
    }
  }

  ol, ul { padding-left: 1em }

  li {
    padding-left: .25em;

    p:only-child { margin-block: .5em }
  }

  hr {
    border: solid var(--gray-strong);
    margin-block: 1.5em;
    border-width: .5px 0 0;
  }

  blockquote {
    border-left: .25em solid var(--brand);
    padding-left: 1em;
    margin: 2em 0;

    p { color: var(--text-strong) }
  }

  small, figcaption {
    color: var(--text-subtle);
    font-weight: 400;
    font-size: .875em;
  }

  time { white-space: nowrap }

  figure {
    margin: 1.5em 0;

    &.bordered img { border: 1px solid var(--gray) }
  }
}