@layer design {
  a {
    text-decoration-color: var(--brand);
    text-underline-offset: .25em;
    color: inherit;
    cursor: pointer;

    &:hover {
      text-decoration-color: var(--brand);
      text-decoration-thickness: 2px;
      color: var(--text-strong);
    }

    &:visited { opacity: .5 }
    &[name] { color: inherit }
  }

  nav {
    line-height: 1.25;

    a {
      color: var(--text);
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;

      &:hover { color: var(--text-strong) }
    }
  }

  button, .button {
    background-color: var(--gray-subtle);
    color: var(--text-strong);
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    padding: .5em 1.25em;
    border-radius: .25em;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    border: unset;
    gap: .5em;

    &:hover { filter: brightness(1.1) }

    &:active {
      filter: brightness(.9);
      transform: scale(.99);
    }

    &[disabled] {
      pointer-events: none;
      opacity: .33;
    }

    &.plain {
      background-color: unset;
      border: 0;
      padding: 0;
    }

    header & { padding: .375em 1em }
  }

  .button { text-decoration: none }

  table {
    font-size: var(--ui-sizing);
    border-collapse: collapse;
    width: 100%;

    tr { vertical-align: baseline }
    th { color: var(--text-strong) }

    th, td {
      border-bottom: 1px solid var(--gray);
      padding: .5em 0;
      text-align: left;

      &:not(:first-child) { padding-left: 2em }
    }

    td:first-child {
      white-space: nowrap;
      width: 25%;
    }

    tfoot td {
      color: var(--text-strong);
      font-weight: 500;
      border: 0;
    }
  }

  form {
    max-width: var(--width, 45em);
    margin-block: 2em;
  }

  ::placeholder { color: var(--gray-strong) }

  :focus-visible {
    outline-color: var(--bg);
    outline-offset: 4px;
    outline-width: 1px;
  }

  input, textarea {
    background-color: var(--gray-subtle);
    border: none;
    color: var(--text);
    font-family: inherit;
    font-size: inherit;
    padding: .75em;
    width: 100%;
    margin: 0;
  }

  dialog {
    margin-top: 10em;
    padding: 1.5em;
    max-width: 100%;
    width: 25em;

    > :first-child { margin: 0 }

    &::backdrop {
      background-color: rgba(0, 0, 0, 50%);
      backdrop-filter: blur(5px);
    }
  }
}