@layer design {
  .ui {
    font-size: var(--ui-sizing);
    line-height: 1.25;
  }

  .wordmark {
    color: var(--text-strong);
    font-size: 1.125em;
    letter-spacing: .025em;
    font-weight: 750;
  }

  .card {
    background-color: var(--gray-subtle);
    border-radius: var(--radius-m, 4px);
    padding: 1em 1.25em;

    .card { background-color: var(--bg) }
    > :first-child { margin-top: 0 }
    > :last-child { margin-bottom: 0 }
  }

  .note {
    background-color: var(--gray-subtle);
    max-width: var(--max-line-width);
    font-size: var(--ui-sizing);
    margin-block: 1.5em;
    padding: 1em;

    p { margin: 0 }
  }

  .tag {
    border-radius: var(--radius-s);
    font-size: .875em;
    padding: .125em .25em;
    font-weight: 600;
    line-height: 1;
  }

  .pill {
    background-color: var(--gray-subtle);
    color: var(--text-strong);
    border-radius: 9em;
    padding: .25em .75em;

    &:hover { background-color: var(--gray) }
  }

  .icon {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

    &.branded { color: var(--brand) }
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;

    li:not([class]) { padding: 0 }
  }
}